@import 'variables';

.font-size-1 { font-size: $font-size-1 }
.font-size-2 { font-size: $font-size-2 }
.font-size-3 { font-size: $font-size-3 }
.font-size-4 { font-size: $font-size-4 }
.font-size-5 { font-size: $font-size-5 }
.font-size-6 { font-size: $font-size-6 }